body{
    background-color: #F9F9F9;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 50%;
    border-radius: 18px;
    background-color: white;
    margin: 150px auto;
    padding: 54px 120px 50px;
}
h4, p{
    text-align: center;
    font-size: 12px;
}
.password-update {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}
.password-update > div {
    position: relative;
    width: 100%;
}
.password-update > div input {
    width: 80%;
    height: 42px;
    margin: 10px 0;
    border: 1px solid dimgray;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0 1.4em;
    outline: none !important;
}
.password-update > div label {
    position: absolute;
    top: -2em; left: 0;
    margin: 1.9em 2em 2em 4em;
    background-color: white;
    padding: 0 2px;  color: gray;
    font-size: 12px; font-weight: bold;
    border-radius: 150px;
}
.password-update > div span {
    color: #da4841;
}
.password-update button {
    position: absolute;
    bottom: 15px;
    right: 46px;
    height: 50%;
    width: 50px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 12px;
}
#timerDisplay {
    display: none; /* 타이머 텍스트 색상을 변경합니다. */
    font-size: 13px; /* 타이머 텍스트 크기를 변경합니다. */
}
#emailError, #passwordError,#timerDisplay{
     text-align: left;
     padding-left: 50px;
}
#showPasswordLabel{
    position: absolute;
    margin-left: 228px;
    top: 516px;

}
#showPasswordLabel img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}


