/*.fc-day-mon a {
  font-weight: bold;
}
.fc-day-tue a {
  font-weight: bold;
}
.fc-day-wed a {
  font-weight: bold;
}
.fc-day-thu a {
  font-weight: bold;
}
.fc-day-fri a {
  font-weight: bold;
}*/

/* 토요일 날짜 파란색 */
.fc-day-sat a {
  color: blue;
  text-decoration: none;
  /*font-weight: bold;*/
}

/* 일요일 날짜 빨간색 */
.fc-day-sun a {
  color: red;
  text-decoration: none;
  /*font-weight: bold;*/
}

.fc-day-grid .fc-day-top {
  display: none;
}

