<!DOCTYPE html>
<html lang='ko'>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- jQuery -->
    <script src="/webjars/jquery/3.7.1/jquery.min.js"></script>

    <!-- jQuery UI -->
    <link rel="stylesheet" href="/webjars/jquery-ui/1.13.1/jquery-ui.css">
    <script src="/webjars/jquery-ui/1.13.1/jquery-ui.js"></script>

    <!-- flatpickr (미니 달력) -->
    <link rel="stylesheet" href="/webjars/flatpickr/4.6.13/dist/flatpickr.min.css">
    <script src="/webjars/flatpickr/4.6.13/dist/flatpickr.min.js"></script>
    <script src="/webjars/flatpickr/4.6.13/dist/l10n/ko.js"></script>

    <!-- fullcalendar (메인 달력) -->
    <script src='/webjars/fullcalendar/6.1.10/index.global.min.js'></script>
    <!-- fullcalendar CDN -->
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.js'></script>
    <script src="https://apis.google.com/js/api.js"></script>

    <!-- bootstrap -->
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.3.2/js/bootstrap.min.js"></script>

    <!-- popper.js -->
    <script src="/webjars/popper.js/2.11.7/umd/popper.min.js"></script>

    <!-- moment -->
    <script src="/webjars/moment/2.30.1/min/moment.min.js"></script>

    <!-- sweetalert2 -->
    <script src="/webjars/sweetalert2/11.10.4/dist/sweetalert2.min.js"></script>

    <!-- Custom CSS -->
    <link href="/css/calendar/mini-calendar.css" rel="stylesheet">
    <link href="/css/calendar/plan.css" rel="stylesheet">

    <title>Calendar</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            width: 100%;
        }

        .calendar {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }

        #main-calendar {
			display: flex;
            width: 60%;
            margin-right: 10px;
            justify-content: space-evenly;
        }
        
        #detailForm {
			display: flex;
			width: 15%;
			justify-content: space-evenly;
		}
    </style>

</head>

<body>
    <div class="calendar">
        <!-- 미니 달력 -->
        <div id="mini-calendar">
            <button id="todayButton" class="btn btn-dark">오늘</button>
            <input id="dateInput" style="display: none;">
        </div>
        <!-- 메인 달력 -->
        <div id="main-calendar"></div>

        <!-- 일정 입력 폼 -->
        <div id="detailForm">
            <form id="eventForm">
                <table>
                    <h3 id="eventTag">行事(イベント)</h3>
                    <tr>
                        <td colspan="2">
                            <input id="title" class="form-control" placeholder="제목 및 시간 추가" onfocus="this.placeholder=''"
                                onblur="this.placeholder='제목 및 시간 추가'" size="27px">
                        </td>
                    </tr>
                    <tr>
                        <td id="mini-calendar-input">
                            시작일始作日 : <input id="startDate" class="form-control"> 
                            종료일終了日 : <input id="endDate" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            종일終日 : <input type="checkbox" id="allDay" name="allDay" checked>
                        </td>
                    </tr>
                    <tr id="timeInputs">
                        <td>
                            시작시간始作時間 :
                            <select id="startTime" class="form-control"></select>
                            종료시간終了時間 :
                            <select id="endTime" class="form-control"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            장소場所 <input id="place" name="place" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select id="repeat" class="form-select" aria-label="Default select example">
                                <option value="1">반복안함</option>
                                <option value="2">매일</option>
                                <option value="3">매주</option>
                                <option value="4">평일</option>
                                <option value="5">주말</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <textarea id="content" class="form-control" placeholder="설명 추가"
                                onfocus="this.placeholder=''" onblur="this.placeholder='설명 추가'" cols="30" rows="4"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            알람 : <input type="checkbox" id="alarm" name="alarm" checked>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="right">
                            <button id="updatePlan" onclick="insertPlan()" class="btn btn-primary">저장</button>
                        </td>
                    </tr>
                </table>
                <input type="hidden" id="userEmail" name="userEmail">
                <input id="planNo" name="planNo">
            </form>
        </div>
    </div>
  

  <script>
	  
    document.addEventListener('DOMContentLoaded', function () {
		var mainCalendar;
        // 메인 달력 설정 및 렌더링
        var calendarEl = document.getElementById('main-calendar');
        mainCalendar = new FullCalendar.Calendar(calendarEl, {
			googleCalendarApiKey : "AIzaSyB9Pp-FiVX_CbTf6d69RZxnbUJefoQOM_8",
		    eventSources :[ 
		        {
		            googleCalendarId : 'ko.south_korea.official#holiday@group.v.calendar.google.com'
		            , color: 'white'  
		            , backgroundColor: 'red' 
		        } 
		    ],
            headerToolbar: {
                left: 'prevYear,prev,next,nextYear today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
            },
            // 시간표시 (ex - 01:30)
            eventTimeFormat: {
                hour: '2-digit',
                minute: '2-digit',
                meridiem: false,
                hour12: false
            },

            height: 800, // calendar 전체 높이 설정
            contentHeight: 600,	// calendar에서 달력의 높이만 설정
            initialView: 'dayGridMonth', // 캘린더를 초기에 월별 뷰로 설정
            initialDate: new Date(), // 달력 처음 로드될때 표시되는 날짜를 현재 날짜로 설정
            navLinks: true, // 요일 및 날짜 클릭 시 일이나 주 단위 보여주는 화면으로 넘어가기
            selectable: true, // 날짜를 선택 및 드래그해서 새 이벤트를 추가 => 날짜 클릭시 파랑색으로 표시해줌
            editable: true, // 드래그해서 수정 여부
            droppable: true, // 타 이벤트 및 요소를 끌어 놓을 수 있게 설정
            dayMaxEvents: true, // +more 표시 전 최대 이벤트 갯수, true는 셀 높이에 의해 결정
            dayMaxEventRows: true, // 셀 높이에 따라 이벤트 표시
            fixedWeekCount: false, // 다음 달에 해당되는 날짜 미리 보여짐 여부
            eventResizableFromStart: true, //이벤트 시작부분을 이전으로 늘릴 수 있게
            locale: 'ko', // 원하는 지역(언어)로 설정
            eventColor: 'hotpink',

            dateClick: function (info) {
                // FullCalendar에서 날짜를 클릭했을 때 flatpickr 시작일 종료일에 날짜만 넘어가게 하기(이렇게 안하면 2024-02-03T09:00:00+09:00 이렇게 넘어감 )
                var clickedDate = info.date;
                var formattedDate = moment(clickedDate).format('YYYY-MM-DD');

                // 풀캘린더 날짜 클릭시 우측 시작일 종료일에 동기화
                document.getElementById('startDate').value = formattedDate;
                document.getElementById('endDate').value = formattedDate;
                document.getElementById('dateInput').value = formattedDate;

                // 미니 달력 시작일과 종료일 업데이트 및 열기 이렇게하면 메인 달력 클릭시 미니 달력도 같이 바뀜
                updateDate('#startDate', formattedDate);
                updateDate('#endDate', formattedDate);
                updateDate('#dateInput', formattedDate);
            }
        });
        
        selectPlans();

        // 일정 조회
        function selectPlans() {
            $.ajax({
                url: '/api/plan/selectList',
                success: function (planList) {
                    planList.forEach(function (plan) {
                        addEventToCalendar(plan);
                    });
                },
                error: function (error) {
                    console.error('일정 불러오기 중 오류 발생:', error);
                }
            });
        }

        function addEventToCalendar(plan) {
			//console.log(plan.planNo);
            mainCalendar.addEvent({
                title: plan.title,
                start: plan.start, // 서버에서 받은 시작 날짜
                end: plan.end, // 서버에서 받은 종료 날짜
                
                extendedProps: {
		            planNo: plan.planNo // 이 부분을 추가하여 일정 번호를 저장
		        },
            });
        }
        
        // 클릭 이벤트 핸들러
		mainCalendar.on('eventClick', function (info) {
		    var planNo = info.event.extendedProps.planNo;
		    
		    // 공휴일 클릭 시 동작을 막음
        	info.jsEvent.preventDefault();
        	
		    if (planNo) {
		        showPlanDetail(planNo);
		    }
		});
        
        window.showPlanDetail = function (planNo) {
	        $.ajax({
	            url: '/api/plan/selectDetail?planNo=' + planNo,
	            success: function (plan) {
	                fillFormWithPlanDetails(plan);
	            },
	            error: function (error) {
	                console.error('일정 상세 정보 불러오기 중 오류 발생:', error);
	            }
	        });
	    };

		// 폼을 일정의 상세 정보로 채우는 함수
		function fillFormWithPlanDetails(planDetail) {
		    $('#planNo').val(planDetail.planNo);
		    $('#title').val(planDetail.title);
		    $('#allDay').prop('checked', planDetail.allDay);
		    $('#startDate').val(planDetail.startDate);
		    $('#endDate').val(planDetail.endDate);
		    $('#startTime').val(planDetail.startTime);
		    $('#endTime').val(planDetail.endTime);
		    $('#place').val(planDetail.place);
		    $('#repeat').val(planDetail.repeat);
		    $('#content').val(planDetail.content);
		    $('#alarm').prop('checked', planDetail.alarm);
		
			// 클릭한 일정의 종일 여부에 따라 시간 블러처리를 추가하거나 제거  여기다 해줘야 일정 클릭시 일정에 맞는 값 불러옴
		    if (planDetail.allDay) {
		        $('#timeInputs').addClass('blurred');
		    } else {
		        $('#timeInputs').removeClass('blurred');
		    }
		
		    // 사용자에게 보여주기 위해 폼을 표시
		    // $('#eventForm').show();
		
			console.log(planDetail.planNo);
		
		    // currentPlanNo 값이 있으면 updatePlan(), 없으면 insertPlan() 호출
		    
		   $('#updatePlan').on('click', function () {
			   // 폼 입력값을 가져와서 planDetail 객체 생성
			   var planDetail = {
			       planNo: $('#planNo').val(),
			       title: $('#title').val(),
			       allDay: $('#allDay').is(':checked') ? 1 : 0,
			       startDate: $('#startDate').val(),
			       endDate: $('#endDate').val(),
			       startTime: $('#startTime').val(),
			       endTime: $('#endTime').val(),
			       repeat: $('#repeat').val(),
			       place: $('#place').val(),
			       content: $('#content').val(),
			   };
			   console.log(planDetail.planNo);
			   updatePlan(planDetail);
       		});  
		}
		
		// 기존 일정 업데이트 함수
		function updatePlan(planDetail) {
			 console.log(planDetail.planNo);
		    $.ajax({
		        type: 'post',
		        url: '/api/plan/update',
		        contentType: 'application/json',
		        data: JSON.stringify(planDetail),
		        success: function (response) {
		            console.log('Update Plan 성공');
		        },
		        error: function (error) {
		            console.error('일정 업데이트 중 오류 발생:', error);
		        }
		    });
		}
		
		// 종일(all-day) 체크 여부에 따라 시작 시간과 종료 시간 설정하는 함수
	    function setTimeIfNotAllDay(planDetail) {
	
	        if (!planDetail.allDay) {
	            planDetail.startTime = $('#startTime').val();
	            planDetail.endTime = $('#endTime').val();
	        }
	    }

        
        // 메인 달력과 미니 달력의 날짜 동기화
        // 이걸 해주면 메인 달력에서 날짜 클릭시 시작일 종료일 달력도 같이 업데이트되어서 해당 날짜로 바뀜
        function updateDate(selector, date) {
            // 미니 달력 입력란(시작일 종료일 입력란) 업데이트 및 열기
            var inputElement = document.querySelector(selector);

            var flatpickrInstance = inputElement._flatpickr;

            if (flatpickrInstance) {
                flatpickrInstance.setDate(date, true);
            }
        }

        // FullCalendar 렌더링
        mainCalendar.render();

        // 기본제공되는 today버튼을 커스터마이징한 today버튼으로 교체하고 숨기기
        $('.fc-today-button').hide(); //숨기기
        var todayButton = $('.fc-today-button');
        todayButton.replaceWith($('#todayButton'));
        // 숨기기를 먼저하고 .replaceWith를 이용하여 커스터마이징버튼으로 바꾸기. 숨기기를 먼저해야 달력전체에 적용이된다。

        // 오늘 버튼 클릭 시의 동작 내가 커스터마이징한 버튼
        $('#todayButton').on('click', function () {
            const today = new Date();
            mainCalendar.gotoDate(today);
        });

        // 일정 표시 
        $('#eventForm').submit(function (e) {
            e.preventDefault();
			var planNo = $('#planNo').val();
            var title = $('#title').val();
            var startDate = $('#startDate').val();
            var endDate = $('#endDate').val();
            var startTime = $('#startTime').val();
            var endTime = $('#endTime').val();
            var allDay = $('#allDay').is(':checked'); // 종일 체크 여부

            // 일정추가시 all-day로 가지않게, 날짜와 시간이 달력에 출력되게하기
            var eventStartTime, eventEndTime;

            if (allDay) {
                eventStartTime = startDate;
                eventEndTime = moment(endDate).add(1, 'days').format('YYYY-MM-DD');
            } else {
                eventStartTime = startDate + 'T' + startTime;
                eventEndTime = endDate + 'T' + endTime;
            }

            // 일정추가시 all-day로 가지않게, 날짜와 시간 달력에 출력되게하기 
            if (title) {
                var event = {
                    title: title,
                    start: eventStartTime,
                    end: eventEndTime,
                    allDay: allDay, // 종일(all-day) 여부
                    planNo: planNo
                };
                //mainCalendar.addEvent(event);
            }
        });

        // flatpickr api 
        const dateInput = document.getElementById('dateInput');
        const startDateInput = document.getElementById('startDate');
        const endDateInput = document.getElementById('endDate');
        
        // todayButton(今日) 버튼 클릭 시 Flatpickr 날짜 갱신(좌상단 flatpickr 버튼)
        document.getElementById('todayButton').addEventListener('click', function () {
            const today = new Date();
            dateInput._flatpickr.setDate(today, true); // 미니달력 갱신
            startDateInput._flatpickr.setDate(today, true); // 시작일 갱신
            endDateInput._flatpickr.setDate(today, true); // 종료일 갱신

            // FullCalendar에서 오늘 날짜로 이동
            mainCalendar.gotoDate(today);
        });

        // flatpickr 클릭시 fullcalendar 연동
        function handleDateChange(selectedDates, dateStr, instance) {
            //console.log('선택된 날짜:', dateStr);
            // 선택된 날짜를 fullcalendar에 전달
            mainCalendar.gotoDate(moment(dateStr).format('YYYY-MM-DD'));
        }

        // 좌상단 미니달력
        flatpickr(dateInput, {
            parent: document.getElementById('mini-calendar'),
            inline: true,
            dateFormat: 'Y-m-d',
            enableTime: false,
            shorthandCurrentMonth: true,
            static: true,
            defaultDate: 'today',
            locale: 'ko',
            time_24hr: true, // 24시간 형식으로 표시
            onChange: function (selectedDates, dateStr, instance) {
                // 좌상단 미니 달력의 날짜가 변경될 때 시작일과 종료일 달력에도 업데이트
                updateDate('#startDate', dateStr);
                updateDate('#endDate', dateStr);
            },
        }).open();

        // 일정추가 시작달력
        flatpickr("#startDate", {
            dateFormat: 'Y-m-d',
            enableTime: false,
            //minDate: 'today',
            defaultDate: 'today',
            locale: 'ko',
            time_24hr: true, // 24시간 형식으로 표시
            onChange: function (selectedDates, dateStr, instance) {
                // 날짜 선택 이벤트 핸들러 등록
                handleDateChange(selectedDates, dateStr, instance);
                // 종료일의 flatpickr 가져오기
                const endDatePicker = endDateInput._flatpickr;

                // 종료일이 시작일보다 이전인 경우에만 동기화
                if (endDatePicker && endDatePicker.selectedDates[0] < selectedDates[0]) {
                    endDatePicker.setDate(selectedDates, true);
                }
            },
            appendTo: document.getElementById('mini-calendar-input')
        });

        // 일정추가 종료달력
        flatpickr("#endDate", {
            dateFormat: 'Y-m-d',
            enableTime: false,
            //minDate: 'today',
            defaultDate: 'today',
            locale: 'ko',
            time_24hr: true, // 24시간 형식으로 표시
            onChange: function (selectedDates, dateStr, instance) {
                handleDateChange(selectedDates, dateStr, instance);
                // 시작일의 flatpickr 가져오기
                const startDatePicker = startDateInput._flatpickr;

                if (startDatePicker) {
                    const startDate = startDatePicker.selectedDates[0];

                    // 종료일이 시작일보다 이전인 경우에는 시작일과 종료일을 동기화
                    if (startDate && startDate > selectedDates[0]) {
                        startDatePicker.setDate(selectedDates, true);
                    }
                }
            },
            appendTo: document.getElementById('endDate').parentNode

        });
    });
  </script>
  
  <script>
   function insertPlan(planDetail) {
		
        var planDetail = {
            planNo: $('#planNo').val(),
            title: $('#title').val(),
            allDay: $('#allDay').is(':checked') ? 1 : 0,
            startDate: $('#startDate').val(),
            endDate: $('#endDate').val(),
            startTime: null,
            endTime: null,
            repeat: $('#repeat').val(),
            place: $('#place').val(),
            content: $('#content').val(),
            alarm: $('#alarm').is(':checked') ? 1 : 0
        };
        
        setTimeIfNotAllDay(planDetail);
        
        $.ajax({
            type: 'POST',
            url: '/api/plan/insert',
            contentType: 'application/json',
            data: JSON.stringify(planDetail),
            success: function (response) {
                console.log('저장 성공');
            },
            error: function (error) {
                console.error('일정 저장 중 오류 발생:', error);
            }
        });
    };
    
    // 종일(all-day) 체크 여부에 따라 시작 시간과 종료 시간 설정하는 함수
    function setTimeIfNotAllDay(planDetail) {

        if (!planDetail.allDay) {
            planDetail.startTime = $('#startTime').val();
            planDetail.endTime = $('#endTime').val();
        }
    }
</script>

  <!-- 종일체크시 시간 활성/비활성 -->
  <script>
    // 종일(all-day) 체크박스 선택시 블러처리
    $('#allDay').change(function () {
        if (this.checked) {
            // 종일 체크되었을 때
            $('#timeInputs').addClass('blurred');
            
        } else {
            // 종일 체크가 해제되었을 때
            $('#timeInputs').removeClass('blurred');
        }
    });
    
    // 첫 시작시 종일(all-day) 체크박스 블러처리 
    $(document).ready(function() {
	    // 페이지 로드 시 종일 체크 여부 확인
	    if ($('#allDay').is(':checked')) {
	        // 종일 체크되어 있을 때
	        $('#timeInputs').addClass('blurred'); // 시간 설정 부분을 블러 처리
	    }else {
	        // 종일 체크가 해제되었을 때
	        $('#timeInputs').removeClass('blurred');
	    }
	});
  </script>

  <!-- 시간설정 15분단위(24시간) -->
  <script>
    function populateTimeDropdown(selectElement) {
        for (let hour = 0; hour < 24; hour++) {
            for (let minute = 0; minute < 60; minute += 15) {
                const formattedHour = hour.toString().padStart(2, '0');
                const formattedMinute = minute.toString().padStart(2, '0');
                const optionText = `${formattedHour}:${formattedMinute}`;

                const optionElement = document.createElement('option');
                optionElement.value = optionText;
                optionElement.textContent = optionText;

                selectElement.appendChild(optionElement);
            }
        }
    }

    // 시작 시간과 종료 시간 드롭다운을 채우기
    const startTimeDropdown = document.getElementById('startTime');
    const endTimeDropdown = document.getElementById('endTime');

    populateTimeDropdown(startTimeDropdown);
    populateTimeDropdown(endTimeDcalendar.addEventopdown);
    
    // startTime 드롭다운에 이벤트 리스너 추가
	startTimeDropdown.addEventListener('change', function() {
	    // 선택된 startTime 가져오기
	    const selectedStartTime = this.value;
	
	    // 선택된 startTime을 기반으로 endTime 드롭다운의 옵션 업데이트
	    updateEndTimeOptions(selectedStartTime);
	});
	
	// endTime 드롭다운의 옵션을 업데이트하는 함수
	function updateEndTimeOptions(selectedStartTime) {
	    const endTimeDropdown = document.getElementById('endTime');
	    
	    // startTime선택 이후의 옵션만 남기기 (ex - 11:)
	    const filteredOptions = Array.from(endTimeDropdown.options).filter(option => option.value > selectedStartTime);
	    
	    // 옵션을 비우고 새로운 옵션으로 채우기
	    endTimeDropdown.innerHTML = '';
	    for (const option of filteredOptions) {
	        endTimeDropdown.appendChild(option.cloneNode(true));
	    }
	
	    // 기본 선택된 옵션을 첫 번째 유효한 옵션으로 설정
	    endTimeDropdown.selectedIndex = 0;
    }
  </script>
</body>
</html>