<!DOCTYPE html>
<html lang='ja'>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- jQuery -->
    <script src="/webjars/jquery/3.7.1/jquery.min.js"></script>

    <!-- jQuery UI -->
    <link rel="stylesheet" href="/webjars/jquery-ui/1.13.1/jquery-ui.css">
    <script src="/webjars/jquery-ui/1.13.1/jquery-ui.js"></script>

    <!-- flatpickr (미니 달력) -->
    <link rel="stylesheet" href="/webjars/flatpickr/4.6.13/dist/flatpickr.min.css">
    <script src="/webjars/flatpickr/4.6.13/dist/flatpickr.min.js"></script>
    <script src="/webjars/flatpickr/4.6.13/dist/l10n/ko.js"></script>

    <!-- fullcalendar (메인 달력) -->
    <script src='/webjars/fullcalendar/6.1.10/index.global.min.js'></script>

    <!-- bootstrap -->
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.3.2/js/bootstrap.min.js"></script>

    <!-- popper.js -->
    <script src="/webjars/popper.js/2.11.7/umd/popper.min.js"></script>

    <!-- moment -->
    <script src="/webjars/moment/2.30.1/min/moment.min.js"></script>

    <!-- sweetalert2 -->
    <script src="/webjars/sweetalert2/11.10.4/dist/sweetalert2.min.js"></script>

    <!-- Custom CSS -->
    <link href="/css/calendar/mini-calendar.css" rel="stylesheet">
    <link href="/css/calendar/plan.css" rel="stylesheet">

<script>
    document.addEventListener('DOMContentLoaded', function() {
	    var calendarEl = document.getElementById('main-calendar');
	    var Maincalendar = new FullCalendar.Calendar(calendarEl, {
			headerToolbar: {
                left: 'prevYear,prev,next,nextYear today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
            },
	        initialView: 'dayGridMonth',
	        initialDate: new Date(), // 달력 처음 로드될때 표시되는 날짜를 현재 날짜로 설정
	        selectable: true, // 날짜를 선택 및 드래그해서 새 이벤트를 추가 => 날짜 클릭시 파랑색으로 표시해줌
	        fixedWeekCount: false, // 다음 달에 해당되는 날짜 미리 보여짐 여부
	        locale: 'ko',
	        events: function (fetchInfo, successCallback, failureCallback) {
		        $.ajax({
		            url: '/api/plan/selectList',
		            type: 'GET',
		            success: function (planList) {
		                var events = planList.map(function (plan) {
		                    return {
		                        id: plan.planNo,
							    title: plan.title,
							    allDay: plan.allDay,
							    start: new Date(plan.startDate + 'T' + plan.startTime),
							    end: new Date(plan.endDate + 'T' + plan.endTime),
							    place: plan.place,
							    repeat: plan.repeat,
							    content: plan.content,
							    alarm: plan.alarm
		                    };
		                });
		                successCallback(events);
		                console.log(events);
		            },
		            error: function (error) {
		                console.error('일정 불러오기 중 오류 발생:', error);
		                failureCallback(error);
		            }
		        });
		    },
	        eventClick: function(info) {
	            // 일정 상세 정보 조회
	            $.ajax({
	                url: '/api/plan/selectDetail/' + info.event.id,
	                type: 'GET',
	                success: function(data) {
	                    // 상세 정보를 폼에 채워서 페이지에 표시
	                    fillForm(data);
	                    console.log(data.planNo);
	                    console.log(info.event.id);
	                },
	                error: function() {
	                    alert(info.event.id);
	                }
	            });
	        },
	        eventDrop: function(info) {
	            // 일정 이동 시 서버에 업데이트 요청
	            updateEvent(info.event);
	        },
	        select: function(info) {
	            // 선택한 날짜 범위 정보를 가져와서 폼에 채우기
	            fillForm(info);
	        },
	        
	    });
	    Maincalendar.render();
	
	    // 저장 또는 수정 버튼 클릭 시
	    $('#iuButton').click(function() {
	        var plan = getFormData();
	        if (plan.planNo) {
	            // 일정 수정
	            updateEvent(plan);
	        } else {
	            // 일정 추가
	            insertEvent(plan);
	        }
	    });
	    // 삭제 버튼 클릭 시
        $('#deletePlan').click(function() {
            var planNo = $('#planNo').val();
            if (planNo) {
                // 일정 삭제
                deleteEvent(planNo);
            }
        });
	});
	
	// 일정 추가 함수
	function insertEvent(plan) {
	    $.ajax({
	        url: '/api/plan/insert',
	        type: 'POST',
	        contentType: 'application/json',
	        data: JSON.stringify(plan),
	        success: function(data) {
	            alert('일정이 추가되었습니다.');
	            // FullCalendar에서 일정 다시 불러오기
	            $('#main-calendar').fullCalendar('refetchEvents');
	            // 폼 초기화
	            clearForm();
	        },
	        error: function() {
	            alert('일정 추가에 실패했습니다.');
	        }
	    });
	}
	
	// 일정 수정 함수
	function updateEvent(plan) {
		setTimeIfNotAllDay(planDetail);
	    $.ajax({
	        url: '/api/plan/update',
	        type: 'PUT',
	        contentType: 'application/json',
	        data: JSON.stringify(plan),
	        success: function(data) {
	            alert('일정이 수정되었습니다.');
	            // FullCalendar에서 일정 다시 불러오기
	            $('#main-calendar').fullCalendar('refetchEvents');
	            // 폼 초기화
	            clearForm();
	        },
	        error: function() {
	            alert('일정 수정에 실패했습니다.');
	        }
	    });
	}
	
	// 일정 삭제 함수
	function deleteEvent(planNo) {
	    $.ajax({
	        url: '/api/plan/delete/' + planNo,
	        type: 'DELETE',
	        success: function() {
	            alert('일정이 삭제되었습니다.');
	            // FullCalendar에서 일정 다시 불러오기
	            $('#main-calendar').fullCalendar('refetchEvents');
	            // 폼 초기화
	            clearForm();
	        },
	        error: function() {
	            alert('일정 삭제에 실패했습니다.');
	        }
	    });
	}
	
	// 폼 데이터 가져오기
	function getFormData() {
	    var title = $('#title').val();
	    var allDay = $('#allDay').prop('checked') ? 1 : 0;
	    var startDate = $('#startDate').val();
	    var endDate = $('#endDate').val();
	    var startTime = $('#startTime').val();
	    var endTime = $('#endTime').val();
	    var repeat = $('#repeat').val();
	    var content = $('#content').val();
	    var place = $('#place').val();
	    var alarm = $('#alarm').prop('checked') ? 1 : 0;
	    var userEmail = $('#userEmail').val();
	    var planNo = $('#planNo').val();
	
	    return {
	        planNo: planNo,
	        title: title,
	        allDay: allDay,
	        startDate: startDate,
	        endDate: endDate,
	        startTime: startTime,
	        endTime: endTime,
	        repeat: repeat,
	        content: content,
	        place: place,
	        alarm: alarm,
	        userEmail: userEmail
	    };
	}
	
	// 폼 초기화
	function clearForm() {
	    $('#title').val('');
	    $('#allDay').prop('checked', false);
	    $('#startDate').val('');
	    $('#endDate').val('');
	    $('#startTime').val('');
	    $('#endTime').val('');
	    $('#repeat').val('1');
	    $('#content').val('');
	    $('#place').val('');
	    $('#alarm').prop('checked', false);
	    $('#userEmail').val('');
	    $('#planNo').val('');
	}
	
	// 상세 정보를 폼에 채우는 함수
	function fillForm(info) {
	    var startDate = info.startStr;
	    var endDate = info.endStr;
	
	    // 선택한 날짜 범위 정보를 폼에 채우기
	    $('#startDate').val(startDate);
	    $('#endDate').val(endDate);
	    hideDeleteButton();
	}
	
	// 삭제 버튼 감추기 함수
		function hideDeleteButton() {
		    $('#deletePlan').hide();
		}
	</script>

    <title>Calendar3</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            width: 1900px;
        }

        .calendar {
            display: flex;
            width: 100%;
            padding-top: 40px;
            justify-content: space-evenly;
        }

        #main-calendar {
            width: 50%;
        }
    </style>

</head>

<body>
    <div class="calendar">
        <!-- 메인 달력 -->
        <div id="main-calendar"></div>

        <!-- 일정 입력 및 조회 폼 -->
        <div>
            <form id="eventForm">
                <table>
                    <h3 id="eventTag">イベント</h3>
                    <tr>
                        <td colspan="2">
                            <input id="title" class="form-control" placeholder="제목 및 시간 추가" onfocus="this.placeholder=''"
                                onblur="this.placeholder='제목 및 시간 추가'" size="27px">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            終日 : <input type="checkbox" id="allDay" name="allDay">
                        </td>
                    </tr>
                    <tr>
                        <td id="mini-calendar-input">
                            始作日 : <input id="startDate" class="form-control"> 
                            終了日 : <input id="endDate" class="form-control">
                        </td>
                    </tr>
                    <tr id="timeInputs">
                        <td>
                            始作時間 :
                            <select id="startTime" class="form-control"></select>
                            終了時間 :
                            <select id="endTime" class="form-control"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            場所 <input id="place" name="place" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select id="repeat" class="form-select" aria-label="Default select example">
                                <option value="1">반복안함</option>
                                <option value="2">매일</option>
                                <option value="3">매주</option>
                                <option value="4">평일</option>
                                <option value="5">주말</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <textarea id="content" class="form-control" placeholder="설명 추가"
                                onfocus="this.placeholder=''" onblur="this.placeholder='설명 추가'" cols="30" rows="4"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            알람 : <input type="checkbox" id="alarm" name="alarm" checked>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="right">
                            <button id="iuButton" class="btn btn-primary">저장</button>
                            <button id="deletePlan" onclick="deletePlan()" class="btn btn-primary">삭제</button>
                        </td>
                    </tr>
                </table>
                <input type="hidden" id="userEmail" name="userEmail">
                <input id="planNo" name="planNo">
            </form>
        </div>
    </div>
  

  <!-- 일정 시간 세팅 -->
    <script src="/js/calendar/timeSettings.js"></script>
</body>
</html>