<!DOCTYPE html>
<html lang='ja'>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- jQuery -->
    <script src="/webjars/jquery/3.7.1/jquery.min.js"></script>

    <!-- jQuery UI -->
    <link rel="stylesheet" href="/webjars/jquery-ui/1.13.1/jquery-ui.css">
    <script src="/webjars/jquery-ui/1.13.1/jquery-ui.js"></script>

    <!-- flatpickr (미니 달력) -->
    <link rel="stylesheet" href="/webjars/flatpickr/4.6.13/dist/flatpickr.min.css">
    <script src="/webjars/flatpickr/4.6.13/dist/flatpickr.min.js"></script>
    <script src="/webjars/flatpickr/4.6.13/dist/l10n/ja.js"></script>

    <!-- fullcalendar (메인 달력) -->
    <script src='/webjars/fullcalendar/6.1.10/index.global.min.js'></script>

    <!-- bootstrap -->
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.3.2/js/bootstrap.min.js"></script>

    <!-- moment -->
    <script src="/webjars/moment/2.30.1/min/moment.min.js"></script>

    <link href="/css/calendar/mini-calendar.css" rel="stylesheet">
    <link href="/css/calendar/plan.css" rel="stylesheet">

    <title>Calendar</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            width: 1900px;
        }

        .calendar {
            display: flex;
            width: 100%;
            padding-top: 40px;
            justify-content: space-evenly;
        }

        #main-calendar {
            width: 50%;
        }
    </style>
    
    <script>
    document.addEventListener('DOMContentLoaded', function () {
		var mainCalendar;
        // 메인 달력 설정 및 렌더링
        var calendarEl = document.getElementById('main-calendar');
        mainCalendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: {
                left: 'prevYear,prev,next,nextYear today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
            },
            initialView: 'dayGridMonth', // 캘린더를 초기에 월별 뷰로 설정
            navLinks: true, // 요일 및 날짜 클릭 시 일이나 주 단위 보여주는 화면으로 넘어가기
            selectable: true, // 날짜를 선택 및 드래그해서 새 이벤트를 추가 => 날짜 클릭시 파랑색으로 표시해줌
            editable: true, // 드래그해서 수정 여부
            droppable: true, // 타 이벤트 및 요소를 끌어 놓을 수 있게 설정
            dayMaxEventRows: true, // 셀 높이에 따라 이벤트 표시
            fixedWeekCount: false, // 다음 달에 해당되는 날짜 미리 보여짐 여부
            locale: 'ko',
			select: function(info) {
	            // 선택한 날짜 범위 정보를 가져와서 폼에 채우기
	            fillForm(info);
	        },
            eventDrop: function(info) {
	            // 일정 이동 시 서버에 업데이트 요청
	            console.log(info.event.allDay);
	            updatePlan(info.event);
	        },		
		    eventClick: function(info) {
	            // 일정 상세 정보 조회
	            $.ajax({
	                url: '/api/plan/selectDetail/' + info.event.id,
	                success: function(data) {
	                    // 상세 정보를 폼에 채워서 페이지에 표시
	                    fillFormWithPlanDetails(data);
	                },
	                error: function() {
	                    alert(info.event.id);
	                }
	            });
	            var id = info.event.id;
			    console.log('일정 클릭:' + id);
				$('#deletePlan').show().off('click').on('click', function () {
					$.ajax({
				        type: 'delete',
				        url: '/api/plan/delete/' + id,
				        success: function (response) {
				            console.log('일정 삭제 성공');
				            
				            var event = mainCalendar.getEventById(id);
		
					        // 이벤트가 존재하는 경우에만 제거
					        if (event) {
					            info.event.remove();
					        }
					        
					        $('#deletePlan').hide();
				        },
				        error: function (error) {
				            console.error('일정 삭제 중 오류 발생:', error);
				        }
				    });
				});
	        },
        });
        
        function insertPlan(plan) {
	        $.ajax({
	            type: 'POST',
	            url: '/api/plan/insert',
	            contentType: 'application/json',
	            data: JSON.stringify(plan),
	            success: function (response) {
					setTimeIfNotAllDay(response);
	                console.log('저장 성공');
	                console.log(response);
	                
	            },
	            error: function (error) {
	                console.error('일정 저장 중 오류 발생:', error);
	                console.log(plan);
	            }
	        });
	    };
	    
	    function updatePlan(plan) {
			console.log('update확인' + plan.id);
		    $.ajax({
		        url: '/api/plan/update',
		        type: 'PUT',
		        contentType: 'application/json',
		        data: JSON.stringify(plan),
		        success: function(data) {
					setTimeIfNotAllDay(plan);
		            alert('일정이 수정되었습니다.');
		        },
		        error: function() {
		            alert('일정 수정에 실패했습니다.');
		        }
		    });
		};
        
        // 상세 정보를 폼에 채우는 함수
		function fillForm(info) {
		    var startDate = info.startStr;
		    var endDate = info.endStr;
		
		    // 선택한 날짜 범위 정보를 폼에 채우기
		    $('#startDate').val(startDate);
		    $('#endDate').val(endDate);
		    $('#deletePlan').hide();
		}
        
		// 저장 또는 수정 버튼 클릭 시
	    $('#iuButton').click(function() {
	        if (getFormData().id) {
	            // 일정 수정
	            updatePlan(getFormData());
	        } else {
	            // 일정 추가
	            insertPlan(getFormData());
	        }
	    });
	    
	    
	    // 종일(all-day) 체크 여부에 따라 시작 시간과 종료 시간 설정하는 함수
	    function setTimeIfNotAllDay(plan) {
			var id = plan.id;
			var title = plan.title;
			var startDT =  plan.startDate + ' ' + plan.startTime;
			var endDT =  plan.endDate + ' ' + plan.endTime;
			if(startDT && endDT) {
				var startDateTimeParts = startDT.split(' ');
				var startDateParts = startDateTimeParts[0].split('-');
	            var startTimeParts = startDateTimeParts[1] ? startDateTimeParts[1].split(':') : [0, 0]; // 시작 시간이 없으면 00:00으로 설정
	            var startYear = parseInt(startDateParts[0]);
		        var startMonth = parseInt(startDateParts[1]) - 1; // 월은 0부터 시작하므로 1을 빼줌
		        var startDay = parseInt(startDateParts[2]);
		        var startHour = startTimeParts[0] ? parseInt(startTimeParts[0]) : 0; // 시작 시간이 없으면 0시로 설정
        		var startMinute = startTimeParts[1] ? parseInt(startTimeParts[1]) : 0; // 시작 시간이 없으면 0분으로 설정
	        	
	        	// 종료 날짜 및 시간을 Date 객체로 변환
		        var endDateTimeParts = endDT.split(' ');
		        var endDateParts = endDateTimeParts[0].split('-');
		        var endTimeParts = endDateTimeParts[1] ? endDateTimeParts[1].split(':') : [23, 59]; // 종료 시간이 없으면 23:59로 설정
		        var endYear = parseInt(endDateParts[0]);
		        var endMonth = parseInt(endDateParts[1]) - 1; // 월은 0부터 시작하므로 1을 빼줌
		        var endDay = parseInt(endDateParts[2]);
		        var endHour = endTimeParts[0] ? parseInt(endTimeParts[0]) : 23; // 종료 시간이 없으면 23시로 설정
		        var endMinute = endTimeParts[1] ? parseInt(endTimeParts[1]) : 59; // 종료 시간이 없으면 59분으로 설정
		        
		        // 시작 시간과 종료 시간 설정
		        var start = new Date(startYear, startMonth, startDay, startHour, startMinute);
		        var end = new Date(endYear, endMonth, endDay, endHour, endMinute);
		
		        mainCalendar.addEvent({
					id: id,
		            title: title,
		            start: start,
		            end: end
		        });
		    }
	    };

	    // 폼 데이터 가져오기
		function getFormData() {
		    var title = $('#title').val();
		    var allDay = $('#allDay').prop('checked') ? true : false;
		    var startDate = $('#startDate').val();
		    var endDate = $('#endDate').val();
		    var startTime = $('#startTime').val();
		    var endTime = $('#endTime').val();
		    var repeat = $('#repeat').val();
		    var content = $('#content').val();
		    var place = $('#place').val();
		    var alarm = $('#alarm').prop('checked') ? 1 : 0;
		    var userEmail = $('#userEmail').val();
		    var id = $('#id').val();

		    return {
		        id: id,
		        title: title,
		        allDay: allDay,
		        start: startDate + ' ' + startTime,
		        end: endDate + ' ' + endTime,
		        startDate: startDate,
		        endDate: endDate,
		        startTime: startTime,
		        endTime: endTime,
		        repeat: repeat,
		        content: content,
		        place: place,
		        alarm: alarm,
		    };
		}
		
		// 폼을 일정의 상세 정보로 채우는 함수
		function fillFormWithPlanDetails(planDetail) {
		    $('#id').val(planDetail.id);
		    $('#title').val(planDetail.title);
		    $('#allDay').prop(planDetail.allDay) ? true : false;
		    $('#startDate').val(planDetail.startDate);
		    $('#endDate').val(planDetail.endDate);
		    $('#startTime').val(planDetail.startTime);
		    $('#endTime').val(planDetail.endTime);
		    $('#place').val(planDetail.place);
		    $('#repeat').val(planDetail.repeat);
		    $('#content').val(planDetail.content);
		    $('#alarm').prop('checked', planDetail.alarm);
		}	
		
		mainCalendar.on('dateClick', function (info) {
		    // 클릭한 날짜에 일정이 없을 때 초기화
		    const planDetail = {
		        id: null,
		        title: '',
		        allDay: '',
		        startDate: info.dateStr,
		        endDate: info.dateStr,
		        startTime: '09:00',
		        endTime: '09:30',
		        repeat: '',
		        place: '',
		        content: '',
		        alarm: false
		    };
		
		    fillFormWithPlanDetails(planDetail); // 폼에 일정의 상세 정보 채우기
		
		    // FullCalendar에서 날짜 클릭했을 때 flatpickr 시작일 종료일, 미니 달력에 날짜 동기화
		    const formattedDate = moment(info.date).format('YYYY-MM-DD');
		    ['#startDate', '#endDate', '#dateInput'].forEach(selector => {
		        document.querySelector(selector).value = formattedDate; // 시작일, 종료일, 미니 달력 날짜 업데이트
		        updateDate(selector, formattedDate); // 미니 달력 업데이트
		    });
		});

        // 메인 달력과 미니 달력의 날짜 동기화 => 이걸 해주면 메인 달력에서 날짜 클릭시 시작일 종료일 달력도 같이 업데이트되어서 해당 날짜로 바뀜
        function updateDate(selector, date) {
            // 미니 달력 입력란(시작일 종료일 입력란) 업데이트 및 열기
            var inputElement = document.querySelector(selector);
            var flatpickrInstance = inputElement._flatpickr;

            if (flatpickrInstance) {
                flatpickrInstance.setDate(date, true);
            }
        }

        // FullCalendar 렌더링
        mainCalendar.render();
        
        // 일정 표시 
        $('#eventForm').submit(function (e) {
    e.preventDefault();
    var id = $('#id').val();
    var title = $('#title').val();
    var startDate = $('#startDate').val();
    var endDate = $('#endDate').val();
    var startTime = $('#startTime').val();
    var endTime = $('#endTime').val();
    var allDay = $('#allDay').is(':checked'); // 종일 체크 여부

    // 일정 추가시 all-day로 가지않게, 날짜와 시간이 달력에 출력되게하기
    var eventStartTime, eventEndTime;

    if (allDay) {
        eventStartTime = startDate;
        eventEndTime = moment(endDate).add(1, 'days').format('YYYY-MM-DD');
    } else {
        eventStartTime = startDate + 'T' + startTime;
        eventEndTime = endDate + 'T' + endTime;
    }

    // 서버에 일정 추가 요청 보내기
    $.ajax({
        url: '/api/plan/insert',
        method: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({
            id: id,
            title: title,
            startDate: startDate,
            endDate: endDate,
            startTime: startTime,
            endTime: endTime,
            allDay: allDay
            // 필요한 경우 더 많은 데이터를 추가할 수 있습니다.
        }),
        success: function(response) {
            // 서버에 일정 추가 성공시, 캘린더에 해당 일정을 추가합니다.
            var event = {
                title: title,
                start: eventStartTime,
                end: eventEndTime,
                allDay: allDay,
                id: id
            };
            mainCalendar.addEvent(event);
        },
        error: function(xhr, status, error) {
            console.error("일정을 추가하는 중 오류가 발생했습니다:", error);
        }
    });
});

        
        // today 버튼을 커스터마이징하고 숨기는 부분
		$('.fc-today-button').hide(); // FullCalendar에서 기본으로 제공하는 today 버튼 숨기기
		$('.fc-today-button').replaceWith($('#todayButton')); // 커스텀 today 버튼으로 교체
		
		// 커스텀 today 버튼 클릭 시 동작 정의
		$('#todayButton').on('click', function () {
		    // 오늘 날짜로 FullCalendar 이동
		    mainCalendar.gotoDate(new Date());
		});
		
		// flatpickr 클릭시 fullcalendar 연동
        function handleDateChange(selectedDates, dateStr, instance) {
            mainCalendar.gotoDate(moment(dateStr).format('YYYY-MM-DD')); // 선택된 날짜를 fullcalendar에 전달
        }

        // flatpickr 초기화 및 설정
		const flatpickrOptions = {
		    dateFormat: 'Y-m-d', // 날짜 형식 설정
		    defaultDate: 'today', // 기본으로 선택되는 날짜 설정 (오늘 날짜)
		    time_24hr: true, // 24시간 형식으로 표시 설정
		    onChange: handleDateChange // 날짜 선택 시 동작할 함수 설정
		};
		
		// 날짜 선택을 위한 flatpickr 초기화
		// 좌상단 미니 달력에 추가하고 인라인 모드로 설정하여 표시
		flatpickr('#dateInput', {
		    parent: document.getElementById('mini-calendar'), // 부모 요소 지정
		    inline: true, // 인라인 모드로 설정하여 항상 표시
		    shorthandCurrentMonth: true, // 달력 상단에 현재 월 축약 표시 설정
		    static: true, // 사용자 입력 제한 설정
		    ...flatpickrOptions // 기타 옵션 적용
		}).open(); // 달력 열기
		
		// 시작일과 종료일 달력 간 동기화
		['#startDate', '#endDate'].forEach(selector => {
		    flatpickr(selector, {
		        ...flatpickrOptions, // 기본 flatpickr 옵션 적용
		        onChange: function (selectedDates, dateStr, instance) {
		            // 날짜 선택 이벤트 핸들러 등록
		            handleDateChange(selectedDates, dateStr, instance);
		            // 다른 달력의 선택된 날짜와 비교하여 동기화
		            const otherPicker = selector === '#startDate' ? '#endDate' : '#startDate'; // 다른 달력 선택
		            const otherPickerInstance = document.querySelector(otherPicker)._flatpickr; // 다른 달력 인스턴스 가져오기
		            if (otherPickerInstance) { // 다른 달력이 존재하는 경우
		                const otherDate = otherPickerInstance.selectedDates[0]; // 다른 달력의 선택된 날짜 가져오기
		                if (otherDate && otherDate > selectedDates[0]) { // 선택된 날짜가 다른 달력의 날짜보다 이전인 경우
		                    otherPickerInstance.setDate(selectedDates, true); // 다른 달력도 선택된 날짜로 설정
		                }
		            }
		        }
		    });
		});
    });
  </script>


</head>

<body>
    <div class="calendar">
		
        <!-- 미니 달력 -->
        <div id="mini-calendar">
            <button id="todayButton" class="btn btn-dark">오늘</button>
            <input id="dateInput" style="display: none;">
        </div>
        <!-- 메인 달력 -->
        <div id="main-calendar"></div>

        <!-- 일정 입력 폼 -->
        <div>
            <form id="eventForm">
                <table>
                    <h3 id="eventTag">일정</h3>
                    <tr>
                        <td colspan="2">
                            <input id="title" class="form-control" placeholder="제목 및 시간 추가" onfocus="this.placeholder=''"
                                onblur="this.placeholder='제목 및 시간 추가'" size="27px">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            하루종일 <input type="checkbox" id="allDay" name="allDay" checked>
                        </td>
                    </tr>
                    <tr>
                        <td id="mini-calendar-input">
                            시작일 <input id="startDate" class="form-control"> 
                            종료일 <input id="endDate" class="form-control">
                        </td>
                    </tr>
                    <tr id="timeInputs">
                        <td>
                            시작시간 <select id="startTime" class="form-control"></select>
                            종료시간 <select id="endTime" class="form-control"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            장소 <input id="place" name="place" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select id="repeat" class="form-select" aria-label="Default select example">
                                <option value="1">반복안함</option>
                                <option value="2">매일</option>
                                <option value="3">매주</option>
                                <option value="4">평일</option>
                                <option value="5">주말</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <textarea id="content" class="form-control" placeholder="설명 추가"
                                onfocus="this.placeholder=''" onblur="this.placeholder='설명 추가'" cols="30" rows="4"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            알람 <input type="checkbox" id="alarm" name="alarm" checked>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="right">
                            <button id="iuButton" class="btn btn-primary">저장</button>
                            <button type="hidden" id="deletePlan" class="btn btn-primary">삭제</button>
                        </td>
                    </tr>
                </table>
                <br>
                <input id="id" name="id">
                <input type="hidden" id="userEmail" name="userEmail">
            </form>
        </div>
    </div>
    <script src="/js/calendar/timeSettings.js"></script>
</body>
</html>