<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>One Planner Index Page</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <!-- For CSS -->
    <link rel="stylesheet" th:href="@{/css/swiper.css}"/>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/footer.css}"/>
    <link rel="stylesheet" th:href="@{/css/contents.css}"/>
    <!--favicon-->
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <!--google font-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<!-------------------- //header (로그인 상태에 따라 다른 헤더 프레그먼트)-------------------------->
<!--꼭 두줄로 해야함 한줄로 하면 안먹었음!-->
<div th:if="${loginUser == null}" >
    <div th:replace="/fragments/header_login :: header_login"></div>
</div>
<div th:if="${loginUser != null}">
    <div th:replace="/fragments/header_logout :: header_logout"></div>
</div>
<!-------------------------------------- header// ------------------------------------------->

<!--------------------------------------// main contents ------------------------------------>
<div class="content">
    <div class="left-content">
        <br>
        <img src="/img/logo.png" alt="logo" id="logo" width="80%">

        <h1>요즘 플래너 뭐써??<br>난 One Planner 써!<br>누구나 편리하게!<br>365일 당신과 함께 합니다!</h1>
        <div th:if="${loginUser == null}">
            <a href="/web/mlogin"><button class="button">지금 체험해 보세요!</button></a>
        </div>
        <div th:if="${loginUser != null}">
            <a href="/web/main"><button class="button">나의 스케쥴 보기</button></a>
        </div>
    </div>
    <div class="right-content">
        <br><br>
        <div class="slideshow-container">
            <div class="mySlides fade">
                <img src="/img/month2.png">
            </div>
            <div class="mySlides fade">
                <img src="/img/week2.png">
            </div>
            <div class="mySlides fade">
                <img src="/img/day2.png">
            </div>
        </div>
    </div>
</div>
<script>
    var slideIndex = 0;
    showSlides();

    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {slideIndex = 1}
        slides[slideIndex-1].style.display = "block";
        setTimeout(showSlides, 3000); // Change image every 3 seconds
    }

</script>
<!-------------------------------------- main contents //------------------------------------>


<!--------------------------------------- // footer ----------------------------------------->
<div th:replace="/fragments/footer :: footer"></div>
<!------------------------------------- footer // ------------------------------------------->

</body>
</html>