<!DOCTYPE html>
<html lang='ja'>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- jQuery -->
    <script src="/webjars/jquery/3.7.1/jquery.min.js"></script>

    <!-- jQuery UI -->
    <link rel="stylesheet" href="/webjars/jquery-ui/1.13.1/jquery-ui.css">
    <script src="/webjars/jquery-ui/1.13.1/jquery-ui.js"></script>

    <!-- flatpickr (미니 달력) -->
    <link rel="stylesheet" href="/webjars/flatpickr/4.6.13/dist/flatpickr.min.css">
    <script src="/webjars/flatpickr/4.6.13/dist/flatpickr.min.js"></script>
    <script src="/webjars/flatpickr/4.6.13/dist/l10n/ja.js"></script>

    <!-- fullcalendar (메인 달력) -->
    <script src='/webjars/fullcalendar/6.1.10/index.global.min.js'></script>

    <!-- bootstrap -->
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.3.2/js/bootstrap.min.js"></script>

    <!-- popper.js -->
    <script src="/webjars/popper.js/2.11.7/umd/popper.min.js"></script>

    <!-- moment -->
    <script src="/webjars/moment/2.30.1/min/moment.min.js"></script>

    <!-- sweetalert2 -->
    <script src="/webjars/sweetalert2/11.10.4/dist/sweetalert2.min.js"></script>

    <!-- Custom CSS -->
    <link href="/css/calendar/mini-calendar.css" rel="stylesheet">
    <link href="/css/calendar/plan.css" rel="stylesheet">

    <title>Calendar2</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            width: 1900px;
        }

        .calendar {
            display: flex;
            width: 100%;
            padding-top: 40px;
            justify-content: space-evenly;
        }

        #main-calendar {
            width: 70%;
        }
    </style>

</head>

<body>
    <div class="calendar">
        <!-- 미니 달력 -->
        <div id="mini-calendar">
            <button id="todayButton" class="btn btn-dark">今日</button>
            <input id="dateInput" style="display: none;">
        </div>
        <!-- 메인 달력 -->
        <div id="main-calendar"></div>

        <!-- 일정 입력 폼 -->
        <div>
            <form>
                <table>
                    <h3 id="eventTag">行事(イベント)</h3>
                    <tr>
                        <td colspan="2">
                            <input id="title" class="form-control" placeholder="제목 및 시간 추가" onfocus="this.placeholder=''"
                                onblur="this.placeholder='제목 및 시간 추가'" size="27px">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            종일終日 : <input type="checkbox" id="allDay" name="allDay">
                        </td>
                    </tr>
                    <tr>
                        <td id="mini-calendar-input">
                            시작일始作日 : <input id="startDate" class="form-control">
                            종료일終了日 : <input id="endDate" class="form-control">
                        </td>
                    </tr>
                    <tr id="timeInputs">
                        <td>
                            시작시간始作時間 :
                            <select id="startTime" class="form-control"></select>
                            종료시간終了時間 :
                            <select id="endTime" class="form-control"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            장소場所 <input id="place" name="place" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select id="repeat" class="form-select" aria-label="Default select example">
                                <option value="1">반복안함</option>
                                <option value="2">매일</option>
                                <option value="3">매주</option>
                                <option value="4">평일</option>
                                <option value="5">주말</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <textarea id="content" class="form-control" placeholder="설명 추가"
                                onfocus="this.placeholder=''" onblur="this.placeholder='설명 추가'" cols="30" rows="4"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            알람 : <input type="checkbox" id="alarm" name="alarm" checked>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="right">
                            <button onclick="insertPlan()" class="btn btn-primary">저장</button>
                        </td>
                    </tr>
                </table>
                <input type="hidden" id="userEmail" name="userEmail">
                <input type="hidden" id="planNo" name="planNo">
            </form>
        </div>
    </div>

    <!-- 전체 달력 출력 및 설정-->
    <script src="/js/calendar/allSelect-Settings.js"></script>
    
    <!-- 일정 입력 -->
    <script src="/js/calendar/insertPlan.js"></script>

    <!-- 일정 시간 세팅 -->
    <script src="/js/calendar/timeSettings.js"></script>
</body>

</html>
