<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>header_login</title>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/footer.css}"/>
</head>
<body>
<div th:fragment="header_login">

    <div class="header">
        One Planner가 당신의 온라인 비서가 되어 드립니다.&nbsp;&nbsp;지금 바로 체험해 보세요!

        <div id="loginMenuContainer">
            <a href="/web"><img src="/img/home2.png" width="40" height="40"></a>&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="/img/login.png" width="40" height="40"  id="loginClickableImage">

            <div class="menu" id="loginMenu">
                <div class="menu-item"><a href="/web/mlogin">로그인</a></div>
                <div class="menu-item"><a href="#">메뉴 2</a></div>
                <div class="menu-item"><a href="#">메뉴 3</a></div>
            </div>
        </div>
        <script>
            // 메뉴 클릭시 메뉴 토글
            document.getElementById("loginClickableImage").addEventListener("click", function() {
                var loginMenu = document.getElementById("loginMenu");
                loginMenu.style.display = loginMenu.style.display === "block" ? "none" : "block";
            });

            // 문서 클릭시 메뉴 숨김
            document.addEventListener("click", function(event) {
                var loginMenu = document.getElementById("loginMenu");
                var loginClickableImage = document.getElementById("loginClickableImage");
                var target = event.target;

                // 메뉴가 표시되어 있고, 클릭된 요소가 메뉴나 이미지가 아닌 경우 메뉴 숨김
                if (loginMenu.style.display === "block" && target !== loginMenu && target !== loginClickableImage) {
                    loginMenu.style.display = "none";
                }
            });
        </script>

    </div>


</div>
</body>
</html>